
Igor Procedures/.DS_Store

Igor Procedures/import tool/import_AFM.ipf

Igor Procedures/import tool/import_FTIR.ipf

Igor Procedures/import tool/import_PES.ipf

Igor Procedures/import tool/import_PhyMultipakSPE.ipf

Igor Procedures/import tool/import_SpecsLab.ipf

Igor Procedures/import tool/import_VAMAS.ipf

Igor Procedures/import tool/import_XAS.ipf

Igor Procedures/import tool/import_XRD.ipf

Igor Procedures/import tool/import_loader.ipf

Igor Procedures/import tool/import_misc.ipf

Igor Procedures/import tool/example_datafiles.txt

Igor Procedures/import tool/.DS_Store
